body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

section {

    margin-bottom: 100px;
}

.line {
    display: flex;
}

.half {
    width: 50%;
}

.one {
    padding: 10% 5%;
}

.orange {
    color: orange;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 50px;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: orange;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 50px;
}