body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

section {

    margin-bottom: 100px;
}

.line {
    display: flex;
}

.half {
    width: 50%;
}

.one {
    padding: 10% 5%;
}

.orange {
    color: orange;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 50px;
    color: #575757;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 50px;
    color: #575757;
}


h3 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: orange;
    border-radius: 20px;
    padding: 16px 40px;
    margin-bottom: 50px;
}

.secondpic {
    max-height: 800px;
    padding: 5% 10%;
}

.second {
    background-image: url(images/shapes/Frame\ 59.jpg);
}

.textcenter {
    text-align: center;
    margin: 20px 20%;
}